-r requirements.txt

# Testing
pytest==8.3.4
pytest-asyncio==0.25.0
pytest-cov==6.0.0
coverage[toml]==7.6.10
factory-boy==3.3.1
freezegun==1.5.1
respx==0.21.1
locust==2.32.5

# Quality
ruff==0.8.4
mypy==1.14.0
black==24.10.0
types-python-jose==3.3.4.20240106
types-passlib==1.7.7.20240819
types-redis==4.6.0.20241004

# Local developer tools
ipython==8.31.0
pre-commit==4.0.1
